@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
html,body{
    
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

img{
    max-width: 100%;
}

/*navbar*/

.navbar{
    width: 100%;
    height: auto;
}
.navbar-container{
    align-items: center;
    padding: 20px;
    display: flex;
}
.navbar-nav-left a{
    text-transform: uppercase;

}
.navbar-nav-right img{
    width: 20px;
    height: 20px;
}
.navbar-container ul{
    display: flex;
}

.navbar-brand img{
    width: 50px;
    height: 50px;
}